<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="LayoutDesign.css" type="text/css">


<div class="container">
	<h1>Login Help</h1>

	<div id="header"></div>

	<div id="content">

		<img src="C:\Users\Saif\Desktop\VedicsoftLogo.jpg" alt="" width="300"
			height="100" />
	</div>
</div>


<div class="nav-bar">
	<ul class="nav">
		<li><a href="CustomerLogin">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</div>


<body>

	<div id="wrapperBody">
		<h2>Enter your registered email and password will be sent</h2>
		<form action="CustomerLoginForgotPassword">
			Enter your email:<br> <input type="text" name="firstname">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>







<div class="footer">
	<div id="wrapperFooter">&copy; Vedicsoft Copyright 2015</div>
</div>

</div>

</html>